# build artifacts
/build/
/MakeFiles/
/CMakeCache.txt
/*- cmake
/* Makefile
# VSCode settings
- vscode/
# Python
_pycache_/
/*-pyc
/models/emotion_model. keras /data/ images/*_face_*.jpg
/data/images/*_final_result.jpg
/output/
# MacoS
- DS_Store